#SEMC: TrimArea Daemon
type tad, domain;
type tad_exec, exec_type, file_type;
init_daemon_domain(tad)

r_dir_file(tad, modem_file)
allow tad block_device:dir search;
allow tad root_block_device:blk_file rw_file_perms;
allow tad self:capability dac_override;
allow tad { system_data_file unlabeled }:dir w_dir_perms;
allow tad tad_data_file:dir create_dir_perms;
allow tad tad_data_file:file create_file_perms;
allow tad tad_socket:sock_file w_file_perms;
allow tad tmpfs:chr_file rw_file_perms;
type_transition tad { system_data_file unlabeled }:dir tad_data_file;
